<h1>編集ページ</h1>

<h2>服の情報を編集</h2>
<%= form_with model:@item, local: true do |f| %>
  服画像
  <%= f.file_field :image %>
  服の種類
  <%= f.collection_select(:item_type_id, ItemType.all, :id, :name, {}) %> 
  季節
  <%= f.collection_select(:season_id, Season.all, :id, :name, {}) %> 
  色
  <%= f.collection_select(:color_id,Color.all, :id, :name, {}) %> 
  購入日
  <%= f.date_field :buy_day %>
  値段
  <%= f.number_field :price,min:0, step:1000 %>円
  <%= f.text_area :memo, size:"30x5" %>
  <%= f.submit "変更する" %>

  <%= link_to 'トップページへ戻る', root_path %></li>
<% end %>
