<%= render "shared/header" %>


<div class = "item-new">
  <div class ="item-new-form">
    <%= form_with model:@item, local: true do |f| %>
    <div class = "item-images">
      <div class = "item-new-img">
        服画像
      </div>
      <%= f.file_field :image, id:"item-image" %>
    </div>
    <div class = "item-types">
      <div class = "item-new-type">
        服の種類
      </div>
      <%= f.collection_select(:item_type_id, ItemType.all, :id, :name, {},{class:"item-type"}) %>
    </div> 
    <div class = "item-seasons">
      <div class = "item-new-season">
        季節
      </div>
      <%= f.collection_select(:season_id, Season.all, :id, :name, {},{class:"item-season"}) %> 
    </div>
    <div class = "item-colors">
      <div class = "item-new-color">
        色
      </div>
      <%= f.collection_select(:color_id,Color.all, :id, :name, {},{class:"item-color"}) %> 
    </div>
    <div class = "item-buy-days">
      <div class = "item-new-buy-day">
        購入日
      </div>
      <%= f.date_field :buy_day, class:"item-buy-day" %>
    </div>
    <div class = "item-prices">
      <div class = "item-new-price">
        値段
      </div>
      <div class ="item-price">
        <%= f.number_field :price,min:0, step:1000 %>円
      </div>
    </div>
    <div class = "item-memos">
      <div class = "item-new-memo">
        メモ
      </div>
      <%= f.text_area :memo, size:"30x5",class:"memo" %>
    </div>
    <div class = "item-btns">
      <%= f.submit "登録する",class: "item-btn" %>
      <%= link_to 'もどる', root_path, class: "back-btn" %>
    </div>
    <% end %>
  </div>
</div>

