<%= render "shared/header" %>

<div class="item-show">
  <div class="item-box">
    <%= image_tag @item.image,class:"item-show-img" %>
    <div class = "item-show-button">
      <%= link_to "編集する",edit_item_path, class:"item-show-detail" %>
      <%= link_to "削除する",item_path, method: :delete, class:"item-show-delete" %>
    </div>


    <table class = "detail-table">
      <tbody>
        <tr>
          <th class = "detail-item">服の種類</th>
          <td class = "detail-value"><%= @item.item_type.name %></td>
        </tr>
        <tr>
          <th class = "detail-item">季節</th>
          <td class = "detail-value"><%= @item.season.name %></td>
        </tr>
        <tr>
          <th class = "detail-item">色</th>
          <td class = "detail-value"><%= @item.color.name %></td>
        </tr>
        <tr>
          <th class = "detail-item">購入日</th>
          <td class = "detail-value"><%= @item.buy_day %></td>
        </tr>
        <tr>
          <th class = "detail-item">値段</th>
          <td class = "detail-value"><%= @item.price %></td>
        </tr>
        <tr>
          <th class = "detail-item">メモ</th>
          <td class = "detail-value"><%= @item.memo %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>